@model MuzON.Web.Models.ForgotPasswordViewModel

<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30" id="small-dialog">
    @using (Ajax.BeginForm("ForgotPassword", "Account", null,
                new AjaxOptions
                {
                    HttpMethod = "Post",
                    OnSuccess = "ForgotPassword(data)"
                },
            new { @class = "login100-form validate-form" }))
    {
        <span class="login100-form-title p-b-37">
            Forgot password <br />
            Enter your Email
        </span>
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="wrap-input100 validate-input m-b-20">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="container-login100-form-btn">
            <input type="submit" class="btn btn-default" value="Send code" />
        </div>
    }
    </div>
    @* in callback
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Проверьте электронную почту, чтобы сбросить пароль.
            </p>
        </div>
    *@
