@model MuzON.Web.Models.BandViewModel
@{
    /**/
    Layout = null;
}

@{
    if (ViewBag.Action == "create")
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Band</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                @using (Ajax.BeginForm("Create", "Bands", null,
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnSuccess = "CreateBandSuccess"
                    },
                    new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CreatedDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control date-picker" } })
                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="editor-field">
                                        <input type="file" class="form-control" name="uploadImage" accept="image/x-png,image/gif,image/jpeg" />
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger", @accept = "image/x-png,image/gif,image/jpeg" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Country", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CountryId", null, "Select country", htmlAttributes: new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Artists", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.ListBoxFor(model => model.SelectedArtists, (IEnumerable<SelectListItem>)ViewBag.Artists, htmlAttributes: new { @class = "form-control", multiple = "multiple" })
                                    @Html.ValidationMessageFor(model => model.SelectedArtists, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Save" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @section scripts{
            <script>
                $(document).ready(function () {
                    $("#CreatedDate").datepicker();
                });

            </script>
        }
    }
    else
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Band</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                @using (Ajax.BeginForm("Edit", "Bands", null,
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnSuccess = "EditBandSuccess"
                    },
                    new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CreatedDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control date-picker" } })
                                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="editor-field">
                                        <img id="imageSize" src="data:image/jpeg;base64,@Model.Image" />
                                        <input type="hidden" name="image" value="@Model.Image" />
                                        <input type="file" class="form-control" name="uploadImage" />
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger", @accept = "image/x-png,image/gif,image/jpeg" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Country", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CountryId", null, "Select country", htmlAttributes: new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Artists", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.ListBoxFor(model => model.SelectedArtists, (IEnumerable<SelectListItem>)ViewBag.Artists, htmlAttributes: new { @class = "chosen-select", multiple = "multiple" })
                                    @Html.ValidationMessageFor(model => model.SelectedArtists, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Save" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @section scripts{
            <script>
                $(document).ready(function () {
                    $("#CreatedDate").datepicker();
                });

            </script>
        }
    }
}