@model MuzON.Web.Models.BandIndexViewModel
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Band Details</h4>
        </div>

        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    <img id="imageSize" src="data:image/jpeg;base64,@Model.Image" />
                </dd>

                <dt>
                    <label>Country</label>
                </dt>

                <dd>
                    @ViewBag.Country
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Artists)
                </dt>
                @if (ViewBag.Artists != null)
                {
                    @foreach (MuzON.Web.Models.ArtistViewModel item in ViewBag.Artists)
                    {
                        <dd>
                            - @item.FullName
                        </dd>
                    }
                }
                else
                {
                    <dd>
                        <strong>No Artists</strong>
                    </dd>
                }


            </dl>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>