<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>MuzON - портал бесплатной музыки</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!-- CSS -->
    @Styles.Render("~/ContentStyles/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="@Url.Action("Index", "Home")"><h3>MuzON</h3></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        @Html.Partial("_PartialLogin")
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    @RenderBody()
    <!-- start footer Area -->
    <footer class="footer footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <h4>About MuzON</h4>
                        <p>
                            It's a free platform where you can listening free musik.
                        </p>
                        <p class="footer-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            &copy; @DateTime.Now.Year - MuzON
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
    @Scripts.Render("~/bundles/mainJS")
    @RenderSection("scripts", required: false)
</body>
</html>